* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

body {
	display: flex;
	justify-content: center;
}

#gridsetter {
	width: 100px;
	height: 20px;
	position: absolute;
	background: gray;
	border: 1px solid black;
	border-top: none;
	z-index: 999;
}

.colored {
	background: black;
}

#container {
	display:flex;
	flex: 1;
	flex-flow: row wrap;
	height: 100vh;
}

#container > div { 
	display: flex;
	width: calc(100%/16);
}
